
/*Reset CSS*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    margin: 0;
    padding: 0;
    text-align: center;
}

header{
    background-color: rgb(240, 181, 104);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 0;
  
}


.recipe{

    padding: 30px;
    text-align: left;
    max-width: 0 auto;
    width: 50%;
}

img{
    padding: 20px;
    border-radius: 30px;
}
ul,ol,h2,p, h3{
    margin: 30px 0;
}

footer{

    background-color: rgb(240, 181, 104);
    color: white;
    padding: 1px 0;
    position: absolute;
    width: 100%;

}
